
.container {
    width: 550px;
    height: 550px;
    left: 500px;
    top: 64px;
    background: #1F2937;
    position: absolute;

}
#header h1{
    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    top: 40px;

     font-family: 'Karla', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    letter-spacing: -0.025em;

    /* white */

    color: #FFFFFF;
}
#header h2{
    position: absolute;
    width: 372px;
    height: 28px;
    left: 52px;
    top: 140px;

    /* text-xl/leading-7/font-normal */

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */


    /* Medium grey */

    color: #D5D4D8;
}
button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;

    position: absolute;
    width: 223px;
    height: 42px;
    left: 52px;
    top: 210px;

    background: #10B981;
    /* shadow/sm */

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;
}
.button-text{
    color: #FFFFFF;

}
img {
    position: absolute;
    left: 10%;
    right: 15%;
    top: 10px;
    bottom: 5%;


}
.line {
    position: absolute;
    width: 446px;
    height: 0;
    left: 52px;
    top: 290px;

    border: 1px solid aqua;
}
.columns {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 340px;
    background: #273549;
    border-radius: 6px;
}
#password-id {
    position: absolute;
    width: 180px;
    height: 32px;
    left: 7px;
    top: -10px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #55F991;
}
.columns2 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 340px;
    background: #273549;
    border-radius: 6px;
}
#password-id1 {
    position: absolute;
    width: 192px;
    height: 32px;
    top: -12px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #55F991;
}
.columns3 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 410px;
    background: #273549;
    border-radius: 6px;
}
#password-id12 {
    position: absolute;
    width: 180px;
    height: 32px;
    left: 4px;
    top: -10px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #55F991;
}
.columns4 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 410px;
    background: #273549;
    border-radius: 6px;
}
#password-id13 {
    position: absolute;
    width: 192px;
    height: 32px;
    top: -10px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #55F991;

}